@theme {
  --font-headings: "Rubik", sans-serif;
  --font-main: "Montserrat", sans-serif;
  --font-numbers: "Onest", sans-serif;

  --color-dm-black: #252525;
  --color-midnight: #1b1c1e;
  --color-artic-blue: #f0f8ff;
  --color-eazy-main-25: #00c1ff80;
  --color-eazy-main-50: #00c1ff80;
  --color-eazy-main-75: #00c1ffbf;
  --color-eazy-main-90: #00c1ffe6;
  --color-eazy-main-100: #0099ff;
  --color-saphire: #2b50aa;
  --color-plum: #8740b2;
  --color-top-orange: #ff9966;
}

@utility bg-gradient-45 {
  background-image: linear-gradient(45deg, var(--tw-gradient-stops));
}